{% extends "base_template.html" %}

{% block title %}{{ post.title }} | coffey.dad{% endblock %}

{% block content %}
<div>
  <a class="is-relative has-text-grey" style="top: 1em; left: 13em;" href="{{ request.app.url_for('blog.blog') }}"><i
      class="fa-regular fa-circle-left fa-2xl"></i></a>
  <div class="container is-overlay">
    <div class="columns">
      <div class="column is-11">
        <h1 class="title is-1 is-italic">{{ post.title }}</h1>
        <p class="is-italic has-text-weight-light">
          Posted {{ post.created.strftime('%m/%d/%y') }}
          {% if post.modified != post.created %}
          <br>
          Edited &nbsp;{{ post.modified.strftime('%m/%d/%y') }}
          {% endif %}
        </p>
      </div>
      <div class="column">
        {% if request.ctx.session.get('_auth', None) %}
        <a class="button is-link is-light" href="{{ request.app.url_for('blog.edit_post', post_id=post.id) }}">Edit
          Post</a>
        {% endif %}
      </div>
    </div>
    <hr>
    <div class="content pb-6">
      {{ post.body|safe }}
    </div>
  </div>
</div>
{% endblock %}