<!DOCTYPE html>
<html lang="en">

<head>
  <title>{% block title %}coffey.dad{% endblock %}</title>

  <script src="https://kit.fontawesome.com/d303e6263a.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{{ request.app.url_for('static', name='static', filename='bulma.min.css') }}">
  <link rel="stylesheet" href="{{ request.app.url_for('static', name='static', filename='css/style.css') }}">
</head>

<body>
  <nav class="navbar has-background-primary mb-3" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item has-text-white" href="{{ request.app.url_for('home') }}">
        coffey.dad
      </a>
    </div>
    <div class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item has-text-white" href="{{ request.app.url_for('blog.blog') }}">
          Blog
        </a>
      </div>
      {% if request.ctx.session.get('_auth', None) %}
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="field is-grouped">
            <p class="control">
              <a class="button is-primary is-light" href="{{ request.app.url_for('auth.logout') }}">
                Log Out
              </a>
            </p>
          </div>
        </div>
      </div>
      {% endif %}
    </div>
  </nav>
  {% block content %}
  {% endblock content %}
</body>

</html>