{% extends "base_template.html" %}
{% block title %}coffey.dad{% endblock %}

{% block content %}
<div class="container is-fluid">
  <div class="columns">
    <div class="column is-one-quarter">
      <div class="card">
        <div class="card-image">
          <figure class="image is-3by4">
            <img src="{{ request.app.url_for('static', name='static', filename='me.jpeg') }}" alt="Me sitting in Disney World holding a lightsaber" title="TODO: Get a more professional picture">
          </figure>
        </div>
        <div class="card-content">
          <div class="tile is-vertical notification is-primary">
            <p class="title">Joshua Coffey</p>
          </div>
          <div class="content">
            <div>
              <a class="tag is-link is-light is-medium mb-1" href="https://github.com/Queueue0">
                <span class="icon-text">
                  <span class="icon">
                    <i class="fab fa-github"></i>
                  </span>
                  <span>@Queueue0</span>
                </span>
              </a>
            </div>
            <div>
              <a class="tag is-link is-light is-medium mb-1" href="https://twitter.com/Queueueue_">
                <span class="icon-text">
                  <span class="icon">
                    <i class="fab fa-twitter"></i>
                  </span>
                  <span>@Queueueue_</span>
                </span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="column is-three-quarters">
      <div class="is-flex is-justify-content-center mb-5">
        <p class="title is-1">This will eventually be a blog.</p>
      </div>
      <div class="card">
        <div class="card-content">
          <div class="is-flex is-justify-content-center mb-6">
            <p class="title">Lorem Ipsum</p>
          </div>
          <div class="content">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas at justo orci. Maecenas eget commodo ante. In convallis, lacus a efficitur sodales, sem neque scelerisque arcu, sodales euismod tortor mi quis turpis. Ut eu pellentesque purus. Nunc tincidunt sapien sed dolor pharetra tincidunt. Fusce quis diam ac mauris finibus pulvinar. Nulla facilisi. Nam quis dui nec mi placerat finibus. Integer imperdiet, nunc ac ultricies semper, diam lorem vestibulum justo, nec pellentesque lectus neque eu odio. Nulla hendrerit euismod dui id interdum.
            </p>
            <p>
              Sed volutpat ut lacus in luctus. Ut venenatis, magna non tincidunt bibendum, elit neque iaculis dolor, vitae dignissim nisl mauris nec tellus. Fusce blandit, libero quis consectetur iaculis, lorem arcu tincidunt massa, eget interdum dolor ipsum eu lorem. Duis egestas ultrices lacus. Donec venenatis, dui a efficitur facilisis, enim leo bibendum quam, eu tempus libero eros id risus. Aliquam porttitor mollis mattis. Maecenas volutpat convallis vulputate. Suspendisse at commodo metus, vel malesuada quam. Fusce dignissim ante magna, in fringilla nisl viverra non. Quisque tristique metus tellus, vel ultrices massa scelerisque sed. Donec nibh sem, rutrum eget ipsum vitae, laoreet mattis augue.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}